*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img {
  width: 500px;
  border-radius: 30px;
}
h2 {
  color: rgb(25, 180, 232);
  font-size: 50px;
}
h3 {
  color: rgb(64, 78, 161);
  font-size: 20px;
}
p {
  font-size: 15px;
}
