*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
    align-items: center;
    display: flex;
    justify-content: center;
}
.navbar img{
    width: 100px;
    justify-content: center;
}
.navbar ul{
    display: flex;
}
.navbar a{
    font-family: AKbalthom Superhero;
    padding: 10px;
    transition: all 0.42s ease;
    text-transform: capitalize;
}
.navbar a:hover{
    background-color: red;
   
    
}
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    position: absolute;
    font-family: AKbalthom Superhero;
    top: 18%;
    left: 28rem;
    color: beige;
    font-size: 40px;
    background-color: aqua;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.42s ease;
    
   
    
}
.banner h1:hover{
    background-color: pink;
}
.poster-banner{
    justify-content: center;
    align-items: center;
    
}
.poster-img img{
    width: 1300px;
    height: 700px;
    border: 2 solid goldenrod;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
 .fex3 img{
    width: 420px;
    height: 300px;
    border: 3px solid rgb(220, 133, 133);
    border-radius: 20px; 
    transition: all .42s ease;
    
 }
 .fex3 img:hover{
    background-color: rgb(157, 255, 0);

    
    
 }
 .fex2{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

 }
 .fex{
    text-align: center;
    
 
 }
 footer{
    text-align: center;
    
    
 }
 .text {
    max-width: 70%;
    max-height: 70%;
    text-align: center;
    position: absolute;
    left: 15%;
    
 }
 .fex h1{
    font-size: 30px;
    border: 3px solid pink;
    width: 400px; 
    transition: all 0.42s ease;
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
    margin-left: 35.5%;

 }
 .fex h1:hover{
    background-color: azure;
 }