.box-shadow{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    transition: all 0.42s ease;
    margin-left: 34rem;
    
}
.box-shadow:hover{
    box-shadow: 4px 4px 5px rgb(35, 38, 37);
}
.text-shadow {
    text-shadow: 5px 5px 7px rgb(71, 69, 40);
    
    color: blueviolet;
    text-align: center;
    transition: all 0.42s ease;
}

.container
{
    place-items: center;
  
    
}